body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(228, 232, 237); */
}

h3 {
    color: #333;
    font-size: 1.5em;
}
caption {
    font-size: 1.2em;
    margin-bottom: 10px;
}
h4 {
    color: #555;
    font-size: 1.2em;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  table, th, td {
    border: 1px solid #797171;
    padding: 8px;
}  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
