/* Resetting default margin and padding for better consistency */
body, h1, h2, h3, p, ul, ol, li, img, pre, a, iframe, video {
    margin: 0;
    padding: 0;
}

/* Applying styles to the body */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.3;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
}

/* Styling the header */
header {
    background-color: #a6c2e1;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Applying styles to headings */
h1, h2, h3, h4 {
    color: #007bff;
}

/* Styling the main content */
body > p, body > hr, body > pre, body > ul, body > ol, body > iframe, body > video {
    margin-bottom: 20px;
}

/* Applying styles to links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styling the footer */
footer {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    background-color: #a6c2e1;
    color: white;
}

/* Adding some spacing and borders to images */
img {
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

/* Styling the video */
video {
    margin: 6px;
    /* width :"120"; */
}

/* Applying some styles to lists */
ul, ol {
    margin-left: 20px;
    span
    {
        color:#007bff;
}
}

/* Styling the iframe */
iframe {
   /* height: 315px; */
    /* width :"760"; */
    border: 2px solid;
}

/* Adding some spacing to the pre tag */
pre {
    margin-bottom: 20px;
}
